html, body, h1, h2, li, a, ul, ol, nav, header, figure, figcaption, p, footer, label, section, form, aside, script, head {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    color: inherit;
    background: transparent;

}

body {
    line-height: 1.5;
}

img{
    width: 100%;
}